{{define "detail"}}
    <link rel="stylesheet" href="{{.themeShareCss}}/share.min.css" type="text/css">
    <script src="{{.themeShareJs}}/qrcode.js"></script>

    <style>
        .post-meta-wrapper {
            background-color: #f9f9f9;
            padding: 10px;
            border-radius: 5px;
        }

        .post-meta {
            display: block;
            font-size: 14px;
            color: #666;
        }

        .post-meta time {
            margin-right: 5px;
        }

        .post-meta .meta-category {
            margin-right: 5px;
            color: #666;
        }

        .post-meta a.tag {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 3px 6px;
            font-size: 12px;
            background-color: #fff;
            color: #5094d5;
            border: 1px solid #eaeaef;
            height: 24px;
            line-height: 17px;
            border-radius: 2px;
            display: inline-block;
        }

        .post-meta a.tag:hover {
            background-color: #286090;
            border-color: #204d74;
        }
    </style>
    <section id="intro">
        <div class="container post-detail">
            <div class="row col-md-8 col-md-offset-2">
                    <h1 style="font-weight: bold; color: #333;">{{ .post.Post.Title }}</h1>
                    <div class="post-meta-wrapper">
                        <span class="post-meta">
                            <time datetime="{{.post.Post.CreatedAt}}" itemprop="datePublished">
                                {{.post.Post.CreatedAt}}
                            </time>
                            |
                            {{range $k,$v := .post.Tags}}
                                <span class="meta-category"><a class="tag" href='../../tags/{{$v.Name}}'>{{$v.DisplayName}}</a></span>
                            {{end}}
                        </span>
                </div>
            </div>

        <div class="col-md-8 col-md-offset-2">
            <!-- Separate container for markdown content -->
            <div id="markdown-content"></div>
            <div class="clearfix"></div>
            <hr class="nogutter">
            <span style="color: #19A1F9">欢迎转载,但请附上原文地址哦,尊重原创,谢谢大家 本文地址: <a style="color: #19A1F9" href="/detail/{{.post.Post.Id}}/">http://water-melon.top/detail/{{.post.Post.Id}}/</a></span>
            <hr class="nogutter">
            <div class="social-share"></div>
        </div>
            <nav class="m-pagination col-md-8 col-md-offset-2 col-sm-24" role="pagination">
                {{if gt .post.LastPost.ID 0}}
                    <a class="pull-left" href="/detail/{{.post.LastPost.ID}}" style="float: left;max-width:35%;">
                        ←
                        <span style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"> {{.post.LastPost.Title}}</span>
                    </a>
                {{end}}

                {{if gt .post.NextPost.ID 0}}
                    <a class="pull-right" href="/detail/{{ .post.NextPost.ID}}" style="max-width:35%;float: right;">
                        <span style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;max-width: 90%">
                            {{ .post.NextPost.Title}}
                        </span>
                        →
                    </a>
                {{end}}
            </nav>
        </div>
        <div style="text-align: center;width: 45%;margin: auto;">
            <div id="gitalk-container"></div>
        </div>
    </section>

    <div>
        <script src="{{.themeShareJs}}/social-share.min.js"></script>
        <script>
            var $config = {
                title: {{ .psot.Post.Title }},
                description: {{ .psot.Post.Summary }},
                wechatQrcodeTitle: "微信扫一扫：分享", // 微信二维码提示文字
                wechatQrcodeHelper: '<p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈.。</p>',
                disabled: ['facebook', 'twitter'],
            };
            socialShare('.social-share', $config);
        </script>
        <div class="col-md-8 col-md-offset-2 col-sm-24">
            <div id="container"></div>
            <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
            <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
            <script>
                const gitalk = new Gitalk({
                    clientID: {{ .github.GithubClientId }},
                    clientSecret: {{ .github.GithubClientSecret }},
                    repo: {{ .github.GithubRepo }},
                    owner: {{ .github.GithubName }},
                    admin: [{{ .github.GithubName }}],
                    id: "{{ .post.Post.Id }}", // Ensure uniqueness and length less than 50
                    distractionFreeMode: false, // Facebook-like distraction free mode
                    labels: [{{ .github.GithubLabels }}],
                    title: {{ .post.Post.Title }},
                    body: location.href,
                    proxy: "/github/login/oauth/access_token"
                });
                gitalk.render('gitalk-container');
            </script>
        </div>
    </div>
    <!-- Insert marked and highlight.js scripts -->
    <script src="{{.themeJs}}/vditor.index.min.js"></script>
    <script>
        let markdownContent = {{ .post.Post.Content }};
        // 使用正则表达式匹配和替换 Markdown 图片语法
        markdownContent = markdownContent.replace(/!\[([^\]]*)\]\(([^)]+)\)/g, (match, alt, url) => {
            return `<img src="${url}" alt="${alt}" loading="lazy" />`;
        });
        Vditor.preview(document.getElementById('markdown-content'), markdownContent, {
            markdown: {
                toc: true,
                emoji: true,
                footnotes: true,
                autoSpace: true,
                codeBlockPreview: true,
                math: true,
                mermaid: true,
                mindmap: true,
                chart: true,
                media: true,
            },
            after() {
                // 查找渲染后的所有图片标签并添加懒加载属性
                const images = document.querySelectorAll('#markdown-content img');
                images.forEach((img) => {
                    img.setAttribute('loading', 'lazy');
                });
            }
        });
    </script>

{{end}}
