{{define "cateList"}}
    <section id="hero" class="scrollme">
        <div class="container-fluid element-img" style="background: url({{.themeImg}}/category.jpg) no-repeat center center fixed;background-size: cover">
        </div>
    </section>

    <!-- Height spacing helper -->
    <div class="heightblock"></div>
    <!-- // End height spacing helper -->

    <!-- ============================ END Hero Image =========================== -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row boxes">
                        {{ range $key,$value := .post }}
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                            <h4 class="title"><a href="/detail/{{$value.Post.Id}}">{{$value.Post.Title}}</a></h4>

                            <p><time datetime="{{$value.Post.CreatedAt}}"><a href="/detail/{{$value.Post.Id}}">       {{MDate $value.Post.CreatedAt}}</a></time></p>
                        </div>

                            {{if rem $key}}
                                </div>
                                <div class="row boxes">
                            {{end}}
                        {{end}}
                    </div>
                </div>
            </div>
            <nav class="pagination" role="pagination">
                {{if ne .paginate.Last .paginate.Current}}
                    <a class="pull-left" href="/categories/{{.cateName}}?page={{.paginate.Last}}">← Prev Page</a>
                {{end}}
                {{if ne .paginate.Next .paginate.Current}}
                    <a class="pull-right" href="/categories/{{.cateName}}?page={{.paginate.Next}}">Next Page →</a>
                {{end}}
            </nav>
        </div>
    </section>
{{end}}
